@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  color: #848789; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.heading-1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #353738;
  text-transform: uppercase; }

.heading-2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #353738; }
  .heading-2 span {
    color: #848789; }

.margin-bot-medium {
  margin-bottom: 35px; }

.margin-bot-small {
  margin-bottom: 25px; }

.main-header {
  width: 100%;
  height: 100vh;
  background: url("../img/header-bg.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 auto; }
  .main-header .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    width: 100%;
    transition: all 0.3s; }
    .main-header .main-nav__item {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      letter-spacing: 2px;
      color: #4d4959;
      text-transform: uppercase;
      margin-right: 40px; }
      .main-header .main-nav__item:last-child {
        margin-right: 0; }
      .main-header .main-nav__item:nth-child(1)::after, .main-header .main-nav__item:nth-child(4)::after {
        content: ".";
        margin-left: 40px; }
    .main-header .main-nav__logo {
      margin: 0 65px; }

.fixed .main-nav {
  position: fixed;
  padding: 15px;
  background-color: #ffffff; }

.fixed .main-nav__logo {
  transform: scale(0.85); }

.about {
  grid-column: 1 / -1;
  text-align: center;
  padding: 115px 0 130px;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  .about__content {
    grid-column: 2 / 6; }
  .about .icon {
    margin-bottom: 30px; }

.work {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr); }
  .work__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .work__pic--1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 3; }
  .work__pic--2 {
    grid-column: 5 / span 2;
    grid-row: 3 / 4; }
  .work__pic--3 {
    grid-column: 1 / span 2;
    grid-row: 6 / 7; }
  .work__pic--4 {
    grid-column: 3 / span 4;
    grid-row: 4 / span 3; }
  .work__pic--5 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 3; }
  .work__pic--6 {
    grid-column: 3 / span 2;
    grid-row: 9 / span -1; }
  .work__pic--7 {
    grid-column: 5 / span 2;
    grid-row: 7 / span 3; }
  .work .content-box {
    text-align: center;
    padding: 70px;
    padding-bottom: 50px;
    font-size: 1.6rem;
    position: relative; }
    .work .content-box p {
      text-align: justify; }
    .work .content-box p::after {
      content: "";
      display: block;
      padding-top: 40px;
      width: 50px;
      border-bottom: 1px solid #353738;
      margin: 0 auto; }
    .work .content-box::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -20px;
      left: calc(50% - 20px);
      z-index: 2;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ffffff; }
  .work .content-box--1 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2; }
  .work .content-box--2 {
    grid-row: 4 / span 2;
    grid-column: 1 / span 2; }
  .work .content-box--3 {
    grid-row: 7 / span 2;
    grid-column: 3 / span 2; }

.comments-section {
  grid-column: 1 / -1;
  background-color: #f7f7f7;
  text-align: center;
  padding: 100px 0 70px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.comments {
  grid-column: 2 / 6; }
  .comments__content {
    font-style: italic;
    font-size: 2.4rem;
    color: #848789;
    margin-bottom: 100px; }
  .comments__control {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #848789;
    margin-right: 5px;
    cursor: pointer; }
  .comments__control.active {
    background-color: #848789;
    border: 1px solid #848789; }

.icon-twitter {
  fill: #00aced; }

.shop-section {
  grid-column: 1 / -1; }

.shop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr) 20rem; }
  .shop__item--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .shop__item--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .shop__item--3 {
    grid-column: 3 / 4;
    grid-row: 1 / span 2; }
  .shop__item--4 {
    grid-column: 4 / 5;
    grid-row: 1 / span 2; }
  .shop__item--5 {
    grid-column: 5 / -1;
    grid-row: 1 / 2; }
  .shop__item--6 {
    grid-column: 1 / span 2;
    grid-row: 2 / 3; }
  .shop__item--7 {
    grid-column: 5 / 6;
    grid-row: 2 / 3; }
  .shop__item--8 {
    grid-column: 6 / -1;
    grid-row: 2 / 3; }
  .shop__item {
    position: relative;
    display: block; }
  .shop__item a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
  .shop figcaption {
    opacity: 0;
    background: rgba(100, 194, 158, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s; }
  .shop figcaption span {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s; }
  .shop figcaption img {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s; }
  .shop__item:hover figcaption {
    opacity: 1; }
  .shop__item:hover span {
    opacity: 1;
    transform: translateY(0); }
  .shop__item:hover figcaption img {
    opacity: 1;
    transform: translateY(0); }
  .shop__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .shop__cta-box {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    background-color: #282f35;
    display: flex;
    justify-content: center;
    align-items: center; }
  .shop__btn {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 20px 75px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s; }
    .shop__btn:hover {
      background-color: #64c29e;
      color: #282f35; }
