//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');


//FONT VARIABLES
$font-stack: "Lato", sans-serif;


//COLOR VARIABLES
$color-primary: #64c29e;
$color-white: #ffffff;
$color-grey-dark-1: #353738;
$color-grey-dark-2: #4d4959;
$color-grey-dark-3: #282f35;
$color-grey: #848789;
$color-grey-light: #f7f7f7;


//RESPONSIVE BREAKPOINTS
$bp-largest: 68.75em;  //1100px : 16px
$bp-large: 62.5em;  //1000px : 16px
$bp-medium: 50em; //800px : 16px
$bp-small: 37.5em; //600px : 16px


//BASE STYLES

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //10px : 16px => 62,5% => 1rem = 10px

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

body {
	font-family: $font-stack;
	font-size: 1.6rem;
	line-height: 1.8;
	font-weight: 400;
	color: $color-grey;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	//max-width: 100%;
}

strong {
	font-weight: bold;
}


.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}


//utility styles

.margin-bot-medium {
	margin-bottom: 35px;
}

.margin-bot-small {
	margin-bottom: 25px;
}

.btn {
	background-color: $color-primary;
	color: $color-white;
	padding: 25px 40px;
	font-family: $font-stack;
	font-weight: 300;
	font-size: 2.4rem;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: darken($color-primary, 12%);
	}
}

.btn-round {
	width: 36px;
	height: 36px;
	display: inline-block;
	color: #ffffff;
	border-radius: 50%;
	margin: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	svg {
		fill: #ffffff;
		width: 24px;
		height: 24px;
	}
}

.btn-twitter {
	background-color: #00aced; 
	transition: background-color 0.3s;
	&:hover {
		background-color: darken(#00aced, 10%);
	}
}

.btn-facebook {
	background-color: #3b5998; 
	transition: background-color 0.3s;
	&:hover {
		background-color: darken(#3b5998, 10%);
	}
}

.btn-pinterest {
	background-color: #cb2027; 
	transition: background-color 0.3s;
	&:hover {
		background-color: darken(#cb2027, 10%);
	}
}


