.main-footer {
	grid-column: 1 / -1;
	padding: 10rem 0;
	background-color: $color-grey-light;

	display: grid;
	grid-template-columns: repeat(6, 1fr);

	&__content {
		grid-column: 2 / -2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1 / -1;
		}

		@media only screen and (max-width: $bp-small) {
			& > * {
				display: block;
				width: 100%;
				margin-bottom: 4rem;
				text-align: center;
			}
		}
	}

	&__contact {
		font-style: italic;
		strong {
			font-style: normal;
		}
	}

	&__copyright {
		display: flex;
		img {
			margin-left: 10px;
			@media only screen and (max-width: $bp-small) {
				width: 53px;
			}
		}
		
		@media only screen and (max-width: $bp-small) {
			justify-content: center;
		}

	}


	@media only screen and (max-width: $bp-medium) {
		padding: 5rem 3rem;
	}
	
}