.main-header {
	width: 100%;
	height: 100vh;
	background: url('../img/header-bg.jpg') no-repeat center center;
	background-size: cover;
	margin: 0 auto;

	.main-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3.5rem 0;
		width: 100%;
		transition: all 0.3s;

		@media only screen and (max-width: $bp-small) {
			padding: 2rem 0;
		}


		&__item {
			font-family: $font-stack;
			font-weight: bold;
			font-size: 1.3rem;
			letter-spacing: 2px;
			color: $color-grey-dark-2;
			text-transform: uppercase;
			margin-right: 4rem;
			transition: all 0.3s;

			&:last-child {
				margin-right: 0;
			}

			&:nth-child(1)::after,
			&:nth-child(4)::after {
				content: ".";
				margin-left: 4rem;

				@media only screen and (max-width: $bp-medium) {
					margin-left: 2rem;
				}

				@media only screen and (max-width: $bp-small) {
					margin-left: 1.5rem;
				}

			} 

			&:hover {
				color: $color-primary;
			}

			@media only screen and (max-width: $bp-medium) {
				font-size: 1.5rem;
				margin-right: 2rem;
			}

			@media only screen and (max-width: $bp-small) {
				margin-right: 1.5rem;
				font-size: 1.3rem;
			}
		}

		&__logo {
			margin: 0 6.5rem;

			@media only screen and (max-width: $bp-medium) {
				margin: 0 4.5rem;
			}

			@media only screen and (max-width: $bp-small) {
				margin: 0 1rem;
				transform: scale(0.8);
			}
		}

		
	}
}

//change navigation to fixed on scroll

.fixed .main-nav {
	position: fixed;
	padding: 15px;
	background-color: $color-white;
}

.fixed .main-nav__logo {
	transform: scale(0.85);
}




