// ABOUT SECTION:

.about {
	grid-column: 1 / -1;	
	text-align: center;
	padding: 11.5rem 0 13rem;
	background-color: $color-grey-light;
	
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	&__content {
		grid-column: 2 / 6;	
	}

	.icon {
		margin-bottom: 30px;
	}
}


//WORK SECTION
.work {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(9, 1fr);

	&__pic {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__pic--1 {
		grid-column: 1 / span 4;
		grid-row: 1 / span 3;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1 / span 3;
		}
	}

	&__pic--2 {
		grid-column: 5 / span 2;
		grid-row: 3 / 4;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 4 / span 3;
		}	
	}

	&__pic--3 {
		grid-column: 1 / span 2;
		grid-row: 6 / 7;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1 / span 3;
		}
	}

	&__pic--4 {
		grid-column: 3 / span 4;
		grid-row: 4 / span 3;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 4 / span 3;
		}
	}	
	
	&__pic--5 {
		grid-column: 1 / span 2;
		grid-row: 7 / span 3;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1 / span 3;
		}
	}

	&__pic--6 {
		grid-column: 3 / span 2;
		grid-row: 9 / -1;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 4 / -1;
		}
	}

	&__pic--7 {
		grid-column: 5 / span 2;
		grid-row: 7 / span 3;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 4 / -1;
			grid-row: 7 / span 2;
		}
	}


	.content-box {
		text-align: center;
		padding: 7rem;
		padding-bottom: 5rem;
		font-size: 1.6rem;
		background-color: $color-white;
		position: relative;

		p {
			text-align: justify;
		}	

		p::after {
			content: "";
			display: block;
			padding-top: 4rem;
			width: 5rem;
			border-bottom: 1px solid $color-grey-dark-1;
			margin: 0 auto;
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			bottom: -2rem;
			left: calc(50% - 20px);
			z-index: 2;
			border-left: 2rem solid transparent;
			border-right: 2rem solid transparent;
			border-top: 2rem solid $color-white;
		}	

		@media only screen and (max-width: $bp-small) {
			padding: 4rem;
		}
	}

	
	.content-box--1 {
		grid-column: 5 / span 2;
		grid-row: 1 / span 2;
		@media only screen and (max-width: $bp-largest) {
			grid-column: 4 / span 3;
		}
	}

	.content-box--2 {
		grid-row: 4 / span 2;
		grid-column: 1 / span 2; 
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1 / span 3;
		}
	}

	.content-box--3 {
		grid-row: 7 / span 2;
		grid-column: 3 / span 2; 
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1 / span 3;
		}
	}

	@media only screen and (max-width: $bp-smallest) {
			display: block;
	}
}




//COMMENTS SECTION
.comments-section {
	grid-column: 1 / -1;
	background-color: $color-grey-light;
	text-align: center;
	padding: 10rem 0 7rem;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.comments {
	grid-column: 2 / 6;

	&__content {
		font-style: italic;
		font-size: 2.4rem;
		color: $color-grey;
		margin-bottom: 10rem;
	}

	&__control {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $color-white;
		border: 1px solid $color-grey;
		margin-right: 5px;
		cursor: pointer;
	}

	&__control.active {
		background-color: $color-grey;
		border: 1px solid $color-grey;
	}
}

.icon-twitter {
	fill: #00aced;
}


//SHOP SECTION
.shop-section {
	grid-column: 1 / -1;
}

.shop {
	display: grid;

	grid-template-columns: repeat(6, minmax(150px, 1fr));
	grid-template-rows: repeat(2, minmax(150px, 1fr));

	&__item {
		position: relative;
		display: block;
	}

	&__item--3 {
		grid-row: span 2;
	}

	&__item--4 {
		grid-row: span 2;
	}

	&__item--5 {
		grid-column: span 2;
	}

	&__item--6 {
		grid-column: span 2;
	}

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
		grid-auto-flow: dense;
	}


	&__item a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	figcaption {
		opacity: 0;
		background: rgba($color-primary, 0.8);	
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
	}
	
	figcaption span {
		font-family: $font-stack;
		font-weight: bold;
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $color-white;
		margin-top: 5px;
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.3s;
	}

	figcaption img {
		opacity: 0;
		transform: translateY(-20px);
		transition: all 0.3s;	
	}
	
	&__item:hover figcaption {
		opacity: 1;
	}

	&__item:hover span {
		opacity: 1;
		transform: translateY(0);
	}	

	&__item:hover figcaption img {
		opacity: 1;
		transform: translateY(0);
	}


	&__pic {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__cta-box {
		grid-row: -2 / -1;
		grid-column: 1 / -1;
		background-color: $color-grey-dark-3;
		padding: 7.5rem 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		background: transparent;
		border: 1px solid $color-white;
		color: $color-white;
		padding: 20px 75px;
		font-family: $font-stack;
		font-weight: bold;
		font-size: 1.4rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			background-color: $color-primary;
			color: $color-grey-dark-3;
		}
	}
}


//CONTACT SECTION
.contact-section {
	grid-column: 3 / span 2;
	padding: 11rem 0;
	text-align: center;
	@media only screen and (max-width: $bp-large) {
		grid-column: 2 / span 4;
	}

	@media only screen and (max-width: $bp-small) {
		grid-column: 1 / -1;
		padding 11rem 3rem;
	}
}

.contact-form {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-gap: 10px;

	&__input {
		padding-left: 3rem;
		font-family: $font-stack;
		font-style: italic;
		font-size: 2rem;
		color: $color-grey-dark-2;
		border: 1px solid rgba($color-grey, 0.5);

		&::placeholder {
			color: $color-grey-dark-2;
			opacity: 0.4;
		}
		
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
    		color: $color-grey-dark-2;
			opacity: 0.4;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		    color: $color-grey-dark-2;
			opacity: 0.4;
		}

	}
}
