.heading-1 {
	font-family: $font-stack;
	font-weight: bold;
	font-size: 1.8rem;
	letter-spacing: 2px;
	color: $color-grey-dark-1;
	text-transform: uppercase;
}

.heading-2 {
	font-family: $font-stack;
	font-weight: 400;
	font-size: 1.8rem;
	letter-spacing: 1px;
	color: $color-grey-dark-1;

	span {
		color: $color-grey;
	}
}

.heading-3 {
	font-style: italic;
	font-size: 2.4rem;
	color: $color-grey;
}

.heading-info {
	display: block;
	text-align: left;
	margin-top: 3rem;
	font-style: italic;
	font-size: 1.8rem;
	font-weight: 300;
}

.heading-info--good {
	color: $color-primary;	
}

.heading-info--error {
	color: red;	
}


